.perspective {
    width: 200px;
    perspective: 600px;
    perspective-origin: 100% 200%;
    padding: 70px
}

.grand-parent {
    width: 200px;
    border: 3px solid dodgerblue;
    transition: 1s;
    transform: rotateX(-45deg);
    transform-style: preserve-3d;
}

.parent {
    width: 200px;
    border: 3px solid tomato;
    transition: 1s;
    transform: rotateY(45deg);
    transform-style: preserve-3d;
}

img {
    width: 200px;
    border: 3px solid lightgray;
    transition: 1s;
    transform: rotateX(45deg);
}