.container {
    display: grid;
    width: 600px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
    row-gap: 30px;
    column-gap: 15px;
}

.item {
    border: 10px solid red;
}

.item:nth-child(1) {
    grid-area: header;
}

.item:nth-child(2) {
    grid-area: main;
}

.item:nth-child(3) {
    grid-area: aside;
}

.item:nth-child(4) {
    grid-area: footer;
}