body {
    margin: 0;
    padding: 0;
}

span {
    background-color: red;
    width: 100px;
    height: 80px;
    display: block;
}

div {
    background-color: blue;
    width: 100px;
    height: 80px;
    display: inline;
}