.box {
    width: 100px;
    height: 100px;
    background-color: tomato;
}

.box:hover {
    animation: first-ani 2s infinite alternate;
}

@keyframes first-ani {
    0% {
        width: 100px;
    }
    100% {
        width: 500px;
    }
}