.box {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: tomato;
}

.box2 {
    background-color: dodgerblue;
}

.box3 {
    background-color: yellowgreen;
}

.box1:hover {
    animation: size-up 1s 2 alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.box2:hover {
    animation: size-up 1s 2 alternate ease;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.box3:hover {
    animation: size-up 1s 2 alternate ease;
    animation-timing-function: linear;
    animation-delay: -1s;
}

@keyframes size-up {
    0% {
        width: 150px;
    }
    100% {
        width: 500px;
    }
}