.container {
    border: 4px solid;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: center;
}

.container .item {
    width: 120px;
    height: 100px;
    background: tomato;
    border: 4px dashed red;
    border-radius: 10px;
}