.container {
    border: 4px solid;
    display: flex;
}

.container .item {
    height: 100px;
    background-color: tomato;
    border: 4px dashed red;
    border-radius: 10px;
}

.item1 {
    flex-grow: 1;
}

.item2 {
    width: 100px;
}