.container {
    border: 10px solid lightgray;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: fit-content(300px) fit-content(100%);
}

.item {
    border: 10px solid red;
}