.parent {
    width: 300px;
    height: 250px;
    background: blue;
}

.parent .child {
    width: 150px;
    height: 100px;
    background: tomato;
    font-size: 50px;
    opacity: 1;
}

.parent .child:nth-child(1) {
    /* display: none; */
    opacity: 0;
}